/*font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;;*/

/*
font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /*    font-family: 'Roboto',
sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    /* max-width: 1280px; */
    margin: 0 auto;
    overflow-x: hidden;
    user-select: none;

    /*ZMIENNE*/
    --toggleLineHeight: 22vh;
    --toggleHeight: 22vh;
    --mainCol: #00816d;
    --bgcCol: #003c32e6;
    --menuFooterBgc: #0E1C2C;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/*HEADER*/

header div.banner {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    /* width: 50vw; */
    /* width: 100%; */
    /* margin: 0 auto; */
}

header div.banner>* {
    position: absolute;
}

/*Logotype in header*/

header div.logo,
aside .logo {
    padding: 3px;
    top: 1%;
    left: 3vw;
    color: #000;
    border: 1px solid #000;
    text-shadow: 0 0 2px #ddd, 0 0 2px #000;
    z-index: 1;
}

header div>strong,
aside .logo>strong {

    display: block;
    padding: 1px;
    font-size: 1.5em;
    line-height: 150%;
    z-index: 2;
}

header div>strong::first-letter {
    font-size: 2em;
}

header div.logo.active {
    opacity: 0;
    transition: .2s linear;
}

/*banner slider in header*/

header .slider {
    top: 0;
    left: -23%;
    /* width: auto; */
    /* max-width: 100%; */
    height: 100%;
    /* width: 100%; */
}

header div.welcome {
    z-index: 1;
    bottom: 10vh;
    left: 0;
    width: 100%;
    color: #ddd;
    letter-spacing: 1px;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
}

header div.welcome h1 {

    font-size: 2.4em;
    padding-top: .5em;
    animation: slider 8s linear infinite;
}

header div.welcome h2 {
    font-size: 1.4em;
    padding-bottom: .5em;
    text-transform: uppercase;
    animation: textSlider 8s .5s linear infinite;
}

@keyframes textSlider {
    0% {
        opacity: 0;
    }

    4% {
        opacity: 0;
    }

    13% {
        opacity: 1;
    }

    87% {
        opacity: 1;
    }

    96% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


/*MAIN*/

/*section who + all h1 & h3 on the page*/

.who h1,
.services h1,
.slogan .fixed-bg h1,
.companies h1 {
    margin: 30px 5px 5px 5px;
    padding-bottom: 5px;
    font-size: 2.9em;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
}

.who h3,
.bg h3 {
    margin: 10px 0 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 1.6em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.who .wrapper {
    margin: 0 auto;
}

.wrapper p {
    margin: 0 10px 15px;
    padding: 5px 5px;
    font-size: 1.2em;
    color: #999;
    line-height: 1.5em;
    font-weight: 400;
    text-align: left;
    word-wrap: break-word;
    hyphens: auto;
}

.who img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    max-width: 100%;
    height: auto;
    transform: scale(0);
    /* transition: .6s linear; */

}

.who img.active {
    transform: scale(1);
    animation: whoImg 2s;
}

@keyframes whoImg {
    0% {
        transform: scale(0);
    }

    10% {
        transform: scale(0);
    }


    60% {
        transform: scale(1.1);
    }


    100% {
        transform: scale(1);
    }
}

/*service & contact button*/
.bg {
    position: relative;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 25vh;
    text-align: center;
}

.bg>* {
    position: absolute;
}

.bg h3 {
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
}

.bg button {
    top: 45%;
    right: 50%;
    width: 44%;
    background-color: var(--mainCol);
    margin-top: 15px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid var(--mainCol);
    opacity: 0.8;
    max-width: 310px;
}

.bg button a {
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 20px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    /* text-align: center; */
}

.bg button a.active {
    padding-left: 10px;
    padding-right: 10px;
}

.bg button:nth-last-child(1) {
    left: 50%;
    background-color: var(--menuFooterBgc);
    border-color: var(--menuFooterBgc);
}

.bg button:hover {
    opacity: 1;
}

/*first-toggle section, second-toggle section*/

.first-toggle .toggle,
.second-toggle .toggleTwo {
    position: relative;
    background-color: var(--menuFooterBgc);
    color: #eee;
    cursor: pointer;
}

.first-toggle h2,
.second-toggle h2 {
    font-size: 2.5em;
    text-align: center;
    line-height: var(--toggleLineHeight);
    font-weight: 400;
    letter-spacing: 1px;
    height: 22vh;
}

.first-toggle h2.active,
.second-toggle h2.active {
    line-height: var(--toggleLineHeight)/2;
    height: var(--toggleHeight)/2;
}

.first-toggle .triangle,
.second-toggle .triangle {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;

}

.first-toggle #triangle-down,
.second-toggle #triangle-down {
    width: 0px;
    height: 0px;
    border-left: 27px solid transparent;
    border-right: 27px solid transparent;
    border-top: 26px solid var(--menuFooterBgc);

}

.first-toggle #triangle-up,
.second-toggle #triangle-up {
    width: 0px;
    height: 0px;
    border-left: 27px solid transparent;
    border-right: 27px solid transparent;
    border-bottom: 26px solid var(--menuFooterBgc);
    transform: translateX(-50%) translateY(-100%);

}

.second-toggle .toggleTwo {
    margin-left: 5px;
    margin-right: 5px;
    background-color: #fff;
    color: #182a36;

}

.second-toggle #triangle-down {
    border-top: 26px solid #fff;
    z-index: 10;
}

.second-toggle #triangle-up {
    border-bottom: 26px solid #fff;
}


.first-toggle .triangle.active,
.second-toggle .triangle.active {
    display: block;
}

/*services section*/

.services h1 {
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 15px 0 20px;
}

.services .wrapper {
    margin: 5px 10px;

}

.service {
    display: none;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #f8f8f8;
}

.service.active {
    display: block;
    animation: serviceAnimation 3s both;
}

.service:nth-child(2).active {
    animation-delay: 1s;
}

.service:nth-child(3).active {
    animation-delay: 2s;
}

@keyframes serviceAnimation {
    0% {
        transform: scale(0);
    }

    33.33% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}


.iconbg {
    height: 90px;
    width: 90px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.service i {
    margin: 20px;
    font-size: 4.5em;
}

.service h4 {
    padding-top: 5px;
    font-size: 1.6em;
    font-weight: 600;
    text-transform: uppercase;
}

.service p {
    margin-top: 10px;
    font-family: 'Roboto',
        sans-serif;
    font-size: 1.4em;
    text-align: center;
    font-weight: 300;
    line-height: 2.3em;
}

.service ul {
    margin-top: 15px;
    list-style: none;
}

.service ul li {
    color: #999;
    font-size: 1.3em;
    text-transform: uppercase;
    line-height: 51px;
}

.service ul li:nth-child(1) {
    color: var(--mainCol);
    font-weight: 700;
    opacity: 0.8;
}

.service:hover {
    background-color: var(--mainCol);
}

.service:hover h4,
.service:hover p,
.service:hover li {
    color: #fff;
}

.service:hover li:nth-child(1) {
    color: #fff;
    opacity: 1;
}

.service ul li:nth-child(2),
.service ul li:nth-child(4) {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fff;
}


.service:hover ul li:nth-child(2),
.service:hover ul li:nth-child(4) {
    background-color: rgba(255, 255, 255, .2);
}


/*slogan section*/

.slogan .fixed-bg {
    position: relative;
    height: 90vh;
    margin: 0 auto;
    background-image: url(images/adult-3327336_1280.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    opacity: .9;
}

.slogan .fixed-bg h1 {
    position: absolute;
    top: 22%;
    margin: 5px 0 5px 0;
    padding: 10px;
    width: 100%;
    color: #fff;
    font-size: 4.5em;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, .5);
}

.slogan .fixed-bg h1.active {
    font-size: 3em;
}

/*credo section*/

.credo {
    height: 80vh;
    background-image: url(images/accountant-1238598_1280.jpg);
    background-repeat: no-repeat;
    background-position: bottom top;
    background-size: cover;
    background-attachment: fixed;
}

.credo .row {
    position: relative;
    height: 80vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
}

.row>* {
    position: absolute;
}

.credo .content {
    top: 5vh;
    right: 0;
    padding: 10px;
}

.credo p {
    font-size: 1.8em;
    color: #fff;
    line-height: 1.8em;
    font-weight: 400;
    text-align: left;
    word-wrap: break-word;
    hyphens: auto;
    /*    z-index: 2;*/
}

.credo p.active {
    font-size: 1.6em;
    line-height: 1.6em;
}

.credo .author {
    font-size: 1.2em;
}

.credo img {
    visibility: hidden;
    top: 10px;
    left: 0;
    max-width: 100%;
}

.credo .background {
    height: 80vh;
    background-color: var(--bgcCol);

}

/*section recommendation*/

.recom {
    position: relative;
    height: 70vh;
    background-image: url(images/accountant-1238598_1280.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
}


.companies h1 {
    margin: 0 auto;
    padding: 60px 30px 30px;
    color: #fff;
    text-align: center;
}

.companies span {
    float: left;
    padding: 10px 20px;
    color: #fff;
    font-size: 1em;
    width: 100%;
    text-align: center;
}

.recom .background {
    height: 70vh;
    background-color: var(--bgcCol);
}

/*contact section*/

.contact {
    background-color: var(--menuFooterBgc);

}

.contact .wrapper-contact {
    max-width: 1024px;
    margin: 0 auto;
    padding: 30px 5px;
    text-align: center;
    /*    width: 90%;*/
}


.contact .wrapper-contact button {
    display: inline-block;
    width: 90%;
    background-color: transparent;
    margin: 10px 5px;
    padding: 20px 5px 20px 10px;
    border: 1px solid rgb(153, 153, 153);
    color: rgb(153, 153, 153);
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 20px;
    opacity: 0.8;
    cursor: pointer;
}

.contact .wrapper-contact .phone a {
    text-decoration: none;
    color: rgb(153, 153, 153);
}

.contact .wrapper-contact .address {
    margin-bottom: 20px;
}

.contact .wrapper-contact i {
    padding-right: 10px;
}

.contact .wrapper-contact button:hover {
    background-color: var(--mainCol);
    border: 1px solid var(--mainCol);
    opacity: 1;
}


/*contact form in section contact*/

.contact .contact-form {
    display: none;
    margin-top: 50px;
    transition: .2s linear;
}

.contact .contact-form.active {
    display: block;
}

.contact label {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0 20px;
    font-size: 2.8em;
    color: #fff;
}

.contact .contact-form input,
.contact .contact-form textarea {
    width: 80%;
    min-height: 52px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color: #999;
    line-height: 1.5em;
    height: 3.6em;
    text-transform: uppercase;
    padding: 10px 26px;
    border: 2px solid #999;
    background-color: rgba(0, 0, 0, 0.1);
}

.contact .contact-form input:nth-of-type(1) {
    margin-top: 40px;
}

.contact .contact-form textarea {
    height: 196px;
    padding: 21px 27px;
}

.contact .contact-form .btnSend {
    width: 60%;
    background-color: rgba(0, 129, 109, 0.8);
    opacity: 1;
    color: #fff;
    border-color: rgba(0, 129, 109, 0.8);
}

.contact .wrapper-contact button:focus,
.contact .contact-form input:focus,
.contact .contact-form textarea:focus,
.contact .contact-form .btnSend:focus {
    outline: none;
    border-color: rgba(0, 129, 109, 0.8);
}

/*footer section*/

footer {

    background-color: var(--menuFooterBgc);
    color: rgba(153, 153, 153, 0.8);
    text-align: center;
    line-height: 2em;
}

/* OUTSIDE - NAVIGATION*/

/*hamburger icon animation*/

.burger {
    position: fixed;
    top: 6vh;
    right: 6vh;
    width: 60px;
    height: 45px;
    z-index: 10;
    transition: .2s linear;
}

.burger:hover {
    cursor: pointer;
}

.burger.active {
    transform: rotate(-90deg);
    right: 4vh;
}

.burger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #111;
    transition: top .2s .2s linear, bottom .2s .2s linear, opacity .2s .2s linear, transform .2s .4s linear;
}

.burger span:nth-child(1) {
    top: 0;
}

.burger.active span:nth-child(1) {
    top: calc(50% - 4px);
    transform: rotate(45deg);
}

.burger span:nth-child(2) {
    top: calc(50% - 4px);
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger span:nth-child(3) {
    bottom: 0;
}

.burger.active span:nth-child(3) {
    bottom: calc(50% - 4px);
    transform: rotate(-45deg);
}

/*body wrap change, aside animation, aside logotype (base on header menu) + menu*/

aside {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -25vh;
    width: 25vh;
    background-color: var(--menuFooterBgc);
    z-index: 10;
    transition: .2s linear;
}

aside.active {
    left: 0;
}

aside .logo {
    margin: 5px;
    padding: 3px;
    left: 0;
    color: #888;
    border: 1px solid #888;
    text-shadow: 0 0 0 #000, 0 0 0 #888;
}

aside .logo>strong {

    font-size: 2em;
    line-height: 150%;
    z-index: 2;
}

aside .logo>strong::first-letter {
    font-size: 2.5em;
}


.menu ul {
    padding: 8vw;
    list-style: none;
}

.menu li::before {
    content: "\2022";
    color: #888;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    vertical-align: 20%;
}

.menu a {
    display: inline-block;
    width: 100%;
    padding: 10px;
    color: #888;
    font-size: 1.6em;
    text-transform: uppercase;
    text-decoration: none;
    border-top: 1px solid #243540;
}

.menu a:hover .menu li::before {
    color: #fff;
}

.menu a:hover {
    color: #fff;
}

.menu li:first-child a {
    border-top: 0px;
}

/*all website wrapper*/

.wrap {
    transition: .2s linear;
}

.wrap.active {
    padding-left: 25vh;
}




/*MEDIA QUERIES*/

/*nexus 6*/
@media screen and (min-width:410px) {


    /*HEADER*/

    /*Logotype*/

    header div>strong {
        font-size: 1.9em;
    }

    header div>strong::first-letter {
        font-size: 2.4em;
    }

    /*banner slider*/

    header div.welcome {
        bottom: 8vh;
    }

    header div.welcome h1 {
        font-size: 3em;
        padding-bottom: .7em;
    }

    header div.welcome h2 {
        font-size: 1.8em;
    }

    /*section who + all h1 & h3 on the page*/

    .who h1,
    .services h1,
    .slogan .fixed-bg h1,
    .companies h1 {
        font-size: 3.4em;
    }

    .who h3,
    .bg h3 {
        font-size: 2em;
    }

    .wrapper p {
        padding: 10px 10px;
        font-size: 1.8em;
        line-height: 1.8em;
    }

    /*first-toggle section, second-toggle section*/

    .first-toggle h2,
    .second-toggle h2 {
        font-size: 2.8em;
    }

    /* .second-toggle h2 {
        padding-left: 10px;
        padding-right: 10px;
    } */

    /*services section*/

    .service i {
        font-size: 5em;
    }

    .service h4 {
        font-size: 1.8em;
    }

    .service p {
        font-size: 1.6em;
        line-height: 25px;
    }

    .service ul li {
        font-size: 1.5em;
        line-height: 53px;
    }

    /*credo section*/
    .credo p {
        font-size: 1.9em;
        color: #fff;
        line-height: 1.8em;
        font-weight: 400;
        text-align: left;
        word-wrap: break-word;
        hyphens: auto;
        /*    z-index: 2;*/
    }


    .credo .author {
        font-size: 1.5em;
    }

    /*section recommendation*/

    .companies span {
        font-size: 1.5em;
    }

    /*contact section*/

    .contact .wrapper-contact button {
        font-size: 1.6em;
        line-height: 24px;
    }

    /*footer section*/

    footer {
        font-size: 1.4em;
    }

    /*blackberry*/
    @media screen and (min-width:600px) and (orientation:portrait) {

        /*HEADER*/

        /*Logotype*/

        header div>strong {
            font-size: 2.5em;
        }

        header div>strong::first-letter {
            font-size: 2.6em;
        }

        /*banner slider*/

        header div.welcome {
            bottom: 12vh;
        }

        header div.welcome h1 {
            font-size: 3.5em;
            padding-bottom: .7em;
        }

        header div.welcome h2 {
            font-size: 2.3em;
        }

        /*section who + all h1 & h3 on the page*/

        .who h1,
        .services h1,
        .slogan .fixed-bg h1,
        .companies h1 {
            font-size: 3.9em;
        }

        .who h3,
        .bg h3 {
            font-size: 2.4em;
        }


        .wrapper p {
            font-size: 1.9em;
            line-height: 1.9em;
        }

        .who img {
            padding-top: 5px;
            padding-right: 10px;
            padding-left: 10px;
        }

        /*service & contact button*/

        .bg {
            height: 22vh;
        }

        .bg h3 {
            width: 97%;
        }

        .bg button {
            font-size: 1.9em;
            line-height: 1.9em;
        }

        /*first-toggle section, second-toggle section*/

        .first-toggle h2,
        .second-toggle h2 {
            font-size: 3.6em;
            margin-left: 15px;
            margin-right: 15px;
        }

        /*services section*/

        .iconbg {
            height: 100px;
            width: 100px;
        }

        .service i {
            font-size: 6em;
        }

        .service h4 {
            font-size: 2.4em;
        }

        .service p {
            font-size: 2em;
            line-height: 30px;
        }

        .service ul li {
            font-size: 1.9em;
            line-height: 60px;
        }

        /*slogan section*/

        .slogan .fixed-bg {
            height: 80vh;
        }

        .slogan .fixed-bg h1 {
            font-size: 6em;
            line-height: 130%;
        }

        .slogan .fixed-bg h1.active {
            font-size: 4.5em;
        }

        /*credo section*/

        .credo {
            height: 70vh;
        }

        .credo .row {
            height: 70vh;
        }

        .credo p {
            margin-top: 30px;
            font-size: 2.5em;
            text-align: center;
        }

        .credo p.active {
            font-size: 2em;
            line-height: 2em;
        }

        .credo .author {
            font-size: 1.9em;
        }

        /*section recommendation*/

        .recom {
            height: 70vh;
        }


        .companies h1 {
            padding-top: 80px;
        }

        .companies span {
            font-size: 2.3em;
        }

        .recom .background {
            height: 70vh;
        }

        /*contact section*/

        .contact .wrapper-contact button {
            font-size: 1.6em;
            line-height: 20px;
        }

        footer {
            font-size: 1.4em;
        }

        /*OUTSIDE*/
        /*aside logotype (base on header menu) + menu*/

        aside .logo>strong {
            font-size: 2.5em;
        }

        aside .logo>strong::first-letter {
            font-size: 2.5em;
        }

        .menu a {
            font-size: 2.5em;
        }
    }

    @media screen and (min-width:640px) {

        /*HEADER*/

        /*banner slider*/

        header .slider {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        /*section who*/

        .wrapper p {
            font-size: 1.5em;
            line-height: 1.5em;
        }

        .who img {
            padding-top: 5px;
            padding-right: 10px;
            padding-left: 10px;
        }

        /*service & contact button*/

        .bg {
            height: 35vh;
        }

        .bg h3 {
            width: 97%;
        }

        /*first-toggle section, second-toggle section*/

        .first-toggle h2.active,
        .second-toggle h2.active {
            line-height: var(--toggleLineHeight);
            height: var(--toggleHeight);
        }

        /* .second-toggle h2 {
            line-height: 22vh;
        } */

        /*credo section*/

        .credo p {
            font-size: 1.7em;
            text-align: center;
        }

        .credo .author {
            font-size: 1.4em;
        }

        /*section recommendation*/

        .recom {
            height: 100vh;
        }


        .companies h1 {
            padding: 30px 30px 20px;
        }

        .companies span {
            font-size: 1.2em;
        }

        .recom .background {
            height: 100vh;
        }

        /*contact section*/

        .contact .wrapper-contact button {
            font-size: 1.2em;
            line-height: 18px;
        }

        /*footer section*/

        footer {
            font-size: 1.2em;
        }

        /*OUTSIDE*/
        /*aside logotype (base on header menu) + menu*/
        aside {
            left: -50vh;
            width: 50vh;
        }


        aside .logo>strong {
            font-size: 1.6em;
        }

        aside .logo>strong::first-letter {
            font-size: 2em;
        }


        .menu ul {
            padding: 2vh 5vw;
        }


        /*all website wrapper*/

        .wrap.active {
            padding-left: 50vh;
        }

    }

    /*nexus6*/
    @media screen and (min-width:732px) {

        /*credo section*/

        .credo p {
            margin-top: 10px;
            font-size: 2em;
        }

        .credo .author {
            font-size: 1.6em;
        }

        /*section recommendation*/

        .recom {
            height: 90vh;
        }


        .companies h1 {
            padding-top: 40px;
        }

        .companies span {
            font-size: 1.7em;
        }

        .recom .background {
            height: 90vh;
        }
    }



    @media screen and (min-width:768px) and (orientation:portrait) {

        /*HEADER*/

        /*Logotype*/

        header div>strong {
            font-size: 2.8em;
        }

        header div>strong::first-letter {
            font-size: 3.1em;
        }

        /*banner slider*/

        header div.welcome {
            bottom: 12vh;
        }

        header div.welcome h1 {
            font-size: 4em;
            padding-bottom: .7em;
        }

        header div.welcome h2 {
            font-size: 2.6em;
        }

        /*service & contact button*/

        .bg {
            height: 20vh;
        }

        .bg button {

            margin-right: 25px;
            margin-left: 25px;

        }

        /*credo section*/

        .credo {
            height: 70vh;
        }

        .credo .row {
            height: 70vh;
        }

        .credo p {
            margin-top: 30px;
            font-size: 2.5em;
            text-align: center;
        }

        .credo .author {
            font-size: 1.9em;
        }

        /*section recommendation*/

        .recom {
            height: 70vh;
        }


        .companies h1 {
            padding-top: 80px;
        }

        .companies span {
            font-size: 2.3em;
        }

        .recom .background {
            height: 70vh;
        }

        /*contact section*/

        .contact .wrapper-contact button {
            font-size: 1.8em;
            line-height: 22px;
        }

        /*footer section*/

        footer {
            font-size: 1.5em;
        }

        /*OUTSIDE*/
        /*aside logotype (base on header menu) + menu*/
        aside {
            left: -25vh;
            width: 25vh;
        }

        aside .logo {
            margin: 5px;
            padding: 15px;
        }

        aside .logo>strong {
            font-size: 3em;
            line-height: 150%;
        }

        aside .logo>strong::first-letter {
            font-size: 3.5em;
            line-height: 50%;
        }

        .menu a {

            font-size: 3em;
        }

        /*all website wrapper*/

        .wrap.active {
            padding-left: 25vh;
        }


    }

    /*iphoneX*/
    @media screen and (min-width:812px) {

        /*slogan section*/

        .slogan .fixed-bg h1 {
            font-size: 5.5em;
            line-height: 130%;
        }

        /*second-toggle section*/

        .second-toggle h2 {
            line-height: 20vh;
        }
    }

    /*ipad*/
    @media(min-width:1023px) and (orientation:landscape) {

        /*service & contact button*/

        .bg {
            height: 20vh;
        }

        .bg button {

            margin-right: 25px;
            margin-left: 25px;

        }

        /*first-toggle section, second-toggle section*/

        .first-toggle h2,
        .second-toggle h2 {
            font-size: 3em;
            line-height: 22vh;
        }

        .second-toggle h2 {
            font-size: 3em;
        }


        /*credo section*/

        .credo .row {
            top: 25px;
        }

        /*section recommendation*/

        .recom {
            height: 80vh;
        }

        .recom .background {
            height: 80vh;
        }

        .companies h1 {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        /*contact section*/

        /*contact form in section contact*/

        .contact label {
            font-size: 3em;
        }

        .contact .contact-form input,
        .contact .contact-form textarea {
            font-size: 1.3em;
            line-height: 1.3em;
            height: 3em;

        }

        .contact .contact-form input:nth-of-type(1) {
            margin-top: 20px;
        }

        .contact .contact-form textarea {
            height: 196px;
            padding: 21px 27px;
        }

        .contact .contact-form .btnSend {
            margin-top: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        /*footer section*/

        footer {
            line-height: 2em;
        }

        /*OUTSIDE*/
        /*aside logotype (base on header menu) + menu*/
        aside {
            left: -45vh;
            width: 45vh;
        }

        aside .logo>strong {
            font-size: 2.5em;
            line-height: 150%;
        }

        aside .logo>strong::first-letter {
            font-size: 3em;
            line-height: 50%;
        }

        .menu a {

            font-size: 2.6em;
        }

        /*all website wrapper*/

        .wrap.active {
            padding-left: 45vh;
        }

    }

    @media screen and (min-width:1025px) {

        /*HEADER*/

        /*Logotype*/

        header div.logo {
            top: 5%;
            left: 5%;
        }


        header div>strong {
            font-size: 3.5em;
        }

        /*banner slider*/

        header div.welcome h1 {
            font-size: 5.6em;
        }

        header div.welcome h2 {
            font-size: 3.2em;
        }

        /*MAIN*/

        /*section who + all h1 & h3 on the page*/

        .who .wrapper {
            float: left;
            width: 50%;
            margin: 20px auto;
        }


        .wrapper p {
            padding: 15px 20px;
            font-size: 1.6em;
            line-height: 1.8em;
        }

        .who img {
            float: left;
            /* margin-top: 0; */
            width: 50%;
            padding-top: 60px;
            padding-right: 30px;
        }

        /*service & contact button*/

        .bg {
            margin-top: 45px;
            margin-bottom: 45px;
            margin-left: 15px;
            margin-right: 15px;
            height: 8vh;
        }

        .bg h3 {
            right: 50%;
            width: 50%;
            line-height: 8vh;
            margin: 0 auto;
            padding-bottom: 0;
            padding-top: 0;
        }

        .bg button {
            top: 0;
            right: 0;
            left: 50%;
            width: 20%;
            margin-top: 0;
            margin-bottom: 0;
            margin-right: 0;
            margin-left: 0;
        }

        .bg button a {
            padding: 0;
            line-height: calc(8vh - 2px);
        }

        .bg button:nth-last-child(1) {
            left: 100%;
            transform: translateX(-100%);
        }

        /*first-toggle section, second-toggle section*/
        /* 
        .first-toggle .toggle,
        .second-toggle .toggleTwo {
            height: 15vh;
        } */

        .first-toggle h2,
        .second-toggle h2 {
            font-size: 3.5em;
            line-height: 15vh;
            height: 15vh;
        }


        /* !!!!!!!!!!!!!!!!!!!!!!! */

        .first-toggle h2.active,
        .second-toggle h2.active {
            line-height: 15vh;
            height: 15vh;
        }


        /*services section*/

        .services h1 {
            margin-top: 60px;
            margin-bottom: 10px;
            padding: 15px 0 20px;
        }

        .services {
            margin: 20px 20px;
        }

        .services .wrapper {
            margin: 0 auto;
        }

        .service {
            float: left;
            width: 33.33%;
            padding: 30px;
            border: 5px solid #fff;
            margin: 0 auto;
        }

        .iconbg {
            height: 70px;
            width: 70px;
        }

        .service i {
            margin: 10px;
            font-size: 4.5em;
        }

        .service h4 {
            padding-top: 10px;
            font-size: 2em;
        }

        .service p {
            margin-top: 20px;
            font-size: 1.4em;
            line-height: 23px;
        }

        .service ul {
            margin-top: 30px;
        }

        .service ul li {
            font-size: 1.3em;
            line-height: 51px;
        }

        /*slogan section*/

        .slogan .fixed-bg h1 {
            font-size: 9em;
        }

        .slogan .fixed-bg h1.active {
            font-size: 5em;
        }

        /*credo section*/

        .credo .row {
            top: 5px;
            height: 60vh;
        }

        .credo .content {
            width: 50%;
        }

        .credo p {
            font-size: 2.4em;
            line-height: 1.6em;
            text-align: left;
        }

        .credo img {
            visibility: visible;
            display: block;
            padding: 60px 30px;
            max-width: 50%;
            height: auto;
        }

        /*section recommendation*/

        .recom {
            height: 70vh;
        }

        .recom .background {
            height: 70vh;
        }

        .companies h1 {
            margin-bottom: 10px;
            padding-top: 30px;
            padding-bottom: 10px;
        }

        .companies span {
            float: left;
            padding: 50px 50px;
            color: #fff;
            font-size: 1.8em;
            width: 33%;
        }


        /*contact section*/

        .contact .wrapper-contact {
            max-width: 1024px;
            margin: 0 auto;
            padding: 30px 20px;
        }

        .contact .wrapper-contact button {
            width: 29%;
            margin: 50px 20px;
            padding: 10px 30px;
            font-size: 1.5em;
            line-height: 40px;
        }


        /*OUTSIDE*/
        /* hamburger + menu*/


        .burger.active {
            right: 6vh;
        }

        .menu ul {
            padding-top: 12vh;
        }
    }
}